.temperature {
  font-size: 50px;
  line-height: 1;
}

.temperature .units {
  font-size: 14px;
  line-height: 1;
  position: relative;
  top: -26px;
  margin-left: 2px;
}

.temperature .units .active {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.temperature a {
  color: #9fd3c7;
}

.temperature a:hover {
  color: white;
}
