.Weather {
  padding: 10px;
  margin: 50px auto;
  max-width: 350px;
  border: 1px solid #9fd3c7;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background: #9fd3c7;
  color: #385170;
  opacity: 0.93;
}
.Weather small {
  display: block;
}

.Weather .weatherIcon {
  height: 70px;
}

.Weather .city {
  font-size: 25px;
  margin: 0;
}

.Weather .currentWeather {
  margin: 0px 98px;
  font-size: 14px;
  line-height: 1.5;
}

.Weather li,
ul {
  list-style: none;
  padding: 0;
}

.Weather .weatherDescription,
.city {
  text-transform: capitalize;
}

.Weather .weatherDescription {
  font-size: 12px;
  line-height: 1.5;
}

.Weather .hourlyForecast,
.dailyForecast {
  background: #dfdfdf;
  padding: 10px 14px;
}

.Weather .hourlyForecast h6,
.dailyForecast h6 {
  text-align: left;
  padding-left: 9px;
}

.Weather .dailyForecast hr {
  color: white;
  opacity: 1;
  margin: 0px 0px 10px;
}
.Weather .dailyForecast .lowForecast {
  opacity: 0.6;
}

.Weather footer {
  font-size: 15px;
}

.Weather footer a {
  color: #385170;
}
